*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: monospace;
    font-size: 16px;
}

/* Nav */
nav.container{
    background-color: rgb(255, 255, 255);
    margin: 0;
    height: 64px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
nav p{
    padding-left: 24px;
    text-transform: uppercase;
    font-size: 1.5em;
}
ul{
    list-style-type: none;
    float: right;
    padding-right: 24px;   
}
li{
    display: inline;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 16px;
}
a:hover{
    color: rgb(200, 100, 200)
}

/* Banner */
#banner{
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
#banner img{
    width: 60%;
    height: auto;
    padding: 32px 24px;
}
#mission{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding: 32px 24px;
    margin-right: 20px;
}
#mission h1{
    font-size: 2em;
    font-weight: 900;
    width: 75%;
}
#mission p{
    width: 75%;
    padding-bottom: 24px;
}
#mission button{
    background-color: rgb(71, 67, 67);
    color: rgb(255, 255, 255);
    width: 75%;
    padding: 10px;
    border: none;
}

/* Information */
#info{
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 32px;
    /* background-color: rgb(71, 67, 67); */
}
#extraInfo{
    width: 60%;
    margin: 32px 24px;
}
#extraInfo img{
    width: 100%;
    height: auto;
}
#extraInfo h2{
    font-size: 2.2rem;
}

/* Desktop Schedule */
#desktopSchedule{
    width: 40%;
    margin: 32px 0;
}
#desktopSchedule .Orientation{
   display: flex;
   flex-flow: row nowrap;
   padding: 16px;
}
#desktopSchedule .Orientation img{
    width: 35%;
    height: auto;
    padding-bottom: 16px;
}
#desktopSchedule .Orientation .information{
    width: 65%;
    padding: 16px;
}
#desktopSchedule .Orientation button{
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(115, 187, 230);
}
#desktopSchedule .guest{
    background-color: rgb(221, 221, 221);
}
#desktopSchedule .guest button{
    background-color: rgb(221, 221, 221);
}

/* Moblie Schedule */
#mobileSchedule{
    padding: 16px;
}
#mobileSchedule img{
    width: 100%;
    height: auto;
}
#mobileSchedule .information{
    padding: 0  0 64px 16px;
}
#mobileSchedule .Orientation button{
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(115, 187, 230);
}

/* Courses */
#courses{
    background-color: rgb(247, 247, 247);
    padding: 32px 72px;
}
.header{
    text-align: center;
    font-size: 2.2rem;
    padding: 32px 0;
}
#witchCourses{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; 
}
.course{
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: auto;
    padding-bottom: 25px;
}
.course img{
    width: 100%;
    height: auto;
    padding-bottom: 16px;
}
.course h3{
    padding: 16px;
    font-weight: 600;
    font-size: 1.3rem;
}
.course p{
    padding: 0 16px 8px 16px;
}
.course span{
    padding: 0 16px 24px 16px;
}

/* Media Queries */
@media only screen and (min-width: 691px){
    a.text{
        display: inline;
    }
    a.icon{
        display: none;
    }
}
@media only screen and (max-width: 690px){
    a.text{
        display: none;
    }
    a.icon{
        display: inline;
    }
    a{
        padding: 8px;
    }
}
@media only screen and (min-width: 876px){
    #desktopSchedule{
        display: inline-block;
    }
    #mobileSchedule{
        display: none;
    }
}
@media only screen and (max-width: 875px){
    #banner{
        flex-flow: column wrap;
        text-align: center;
    }
    #mission{
        align-content: center;
        align-items: center;
    }
    #banner img{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #banner button{
        background-color: rgb(221, 221, 221);
        font-weight: 600;
        font-size: 1.5rem;
    }
    #extraInfo{
        display: none;
    }
    #desktopSchedule{
        display: none;
    }
    #mobileSchedule{
        display: inline-block;
    }
}