*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: monospace;
    font-size: 16px;
}

nav.container{
    background-color: rgb(255, 255, 255);
    margin: 0;
    height: 64px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}


nav p{
    padding-left: 24px;
    text-transform: uppercase;
    font-size: 1.5em;
}

ul{
    list-style-type: none;
    float: right;
    padding-right: 24px;   
}

li{
    display: inline;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 16px;
}

a:hover{
    color: rgb(200, 100, 200)
}

#banner{
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

#banner img{
    width: 60%;
    height: auto;
    padding: 32px 24px;
}

#mission{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding: 32px 24px;
    margin-right: 20px;
}

#mission h1{
    font-size: 2em;
    font-weight: 900;
    width: 75%;
}
#mission p{
    width: 75%;
    padding-bottom: 24px;
}

#mission button{
    background-color: rgb(71, 67, 67);
    color: rgb(255, 255, 255);
    width: 75%;
    padding: 10px;
    border: none;
}

#info{
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 32px;
    /* background-color: rgb(71, 67, 67); */
}

#extraInfo{
    width: 60%;
    margin: 32px 24px;
}

#extraInfo img{
    width: 100%;
    height: auto;
}

#schedule{
    width: 40%;
    margin: 32px 0;
}

.Orientation{
   display: flex;
   flex-flow: row nowrap;
   padding: 16px;
}

.Orientation img{
    width: 35%;
    height: auto;
    padding-bottom: 16px;
}

.Orientation .information{
    width: 65%;
    padding: 16px;
}

.Orientation button{
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(115, 187, 230);
}

.guest{
    background-color: rgb(221, 221, 221);
}
@media only screen and (min-width: 876px){
    a.text{
        display: inline;
    }
    a.icon{
        display: none;
    }
}

@media only screen and (max-width: 875px){
    a.text{
        display: none;
    }
    a.icon{
        display: inline-block;
    }
}

@media only screen and (max-width: 875px){
    #banner{
        flex-flow: column wrap;
        text-align: center;
    }
    #mission{
        align-content: center;
        align-items: center;
    }
    #banner img{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}